<footer class="footer">
  <nav>
    <ul class="footer__list1">
      <li>
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Zapatillas</a>
      </li>
      <li>
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Ropa</a>
      </li>
      <li>
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Niño/a</a>
      </li>
      <li>
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Destacados</a>
      </li>
      <li>
        <a class="footer__list-link" href="https://adalab.es/" target="_blank"><li>Tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__list2">
      <li>
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Twitter</a>
      </li>
      <li>
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Instagram</a>
      </li>
      <li>
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Youtube</a>
      </li>
    </ul>
  </nav>
  <div class="footer__container">
    <p class="footer__container-copy">&copy; 2023 </p>
    <p class="footer_container-text">we <span class="footer__container-color">❤︎</span> run</p>
    <!--Otra opción sería ir a la web Fontawesome.com y poner: 
      <p> we <i class="fa-solid fa-heart"></i> run </p> y linkear la fuente en el head del HTML -->
  </div>
</footer>

<!-- Just to remember (this is explain in partial header.html), the class _blank is use when someone clicks on the link, the website directs them to a different page. This propousal it is to avoid losing your own website. -->