<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__list-item">
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Zapatillas</a> 
      </li>
      <li class="footer__list-item">
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Ropa</a>
      </li>
      <li class="footer__list-item">
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Niño/a</a>
      </li>
      <li class="footer__list-item">
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Destacados</a>
      </li>
      <li class="footer__list-item2">
        <a class="footer__list-link" href="https://adalab.es/" target="_blank">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__navtwo">
    <ul class="footer__rrss">
      <li class="footer__rrss-item">
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Twitter</a>
      </li>
      <li>
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Instagram</a>
      </li>
      <li>
        <a a class="footer__list-link" href="https://adalab.es/" target="_blank">Youtube</a>
      </li>
    </ul>
  </nav>
  <div class="footer__container">
    <p>&copy; 2023 </p>
    <p>we <span class="footer__container-color">❤︎</span> run</p>
    <!--Otra opción sería ir a la web Fontawesome.com y poner: 
      <p> we <i class="fa-solid fa-heart"></i> run </p> y linkear la fuente en el head del HTML -->
  </div>
</footer>

<!-- Just to remember (this is explain in partial header.html), the class _blank is use when someone clicks on the link, the website directs them to a different page. This propousal it is to avoid losing your own website. -->