<header class="header">
  <a class="header__link" href="https://adalab.es/" target="_blank"> 
  <!-- Linked to Adalab web. If you put # to make the link blue as the first time that someones press the link it's ok if you are at the same file (index.html), but when you move some part to partials and you put # the website does not find the file index.html. 
  Also, the class _blank is use when someone clicks on the link, the website directs them to a different page. This propousal it is to avoid losing your own website. -->
    <img class="header__menu" src="./assets/images/ico-menu.svg"
      alt="Icono del menú, parte superior izquierda de la pantalla" /> <!-- Maybe future translation -->
  </a>
</header>

<!-- 
En el caso que se hubiera tratado de un desplegable en el menú, hubiera escogido la opción NAV. -->