<section class="hero" id="hero_anchor">
  <!-- <div class="hero__container">
    <img class="hero__image" src="./assets/images/cover.jpeg"
      alt="Hero de la web, mostrando cómo se están atando las bambas" /> --> 
    <div class="hero__box">
      <h1 class="hero__title">Hasta un 50% de descuento</h1> <!-- Put it in capital letter -->
      <p class="hero__text">Ya están aquí las ofertas de fin de temporada</p>
      <div class="hero__button">
        <a href="#sectiontwo_anchor">
          <img src="./assets/images/ico-scroll-down.svg" alt="Button with scroll down">
        </a> 
      </div>
    </div>
  <!-- </div>   -->
</section>
  
  
