<main class="main">
  <section class="hero" id="hero_anchor">
    <!-- <div class="hero__container">
      <img class="hero__image" src="./assets/images/cover.jpeg"
        alt="Hero de la web, mostrando cómo se están atando las bambas" /> --> 
      <div class="hero__box">
        <h1 class="hero__title">Hasta un 50% de descuento</h1> <!-- Put it in capital letter -->
        <p class="hero__text">Ya están aquí las ofertas de fin de temporada</p>
        <div class="hero__button">
          <a href="#sectiontwo_anchor">
            <img src="./assets/images/ico-scroll-down.svg" alt="Button with scroll down">
          </a> <!-- Try to make it interactive-->
        </div>
      </div>
    <!-- </div>   -->
  </section>
  <section class="sectionone">
    <small class="sectionone__small">Los sentimientos nos inspiran</small>
    <h2 class="sectionone__title">Conecta Contigo</h2>
    <p class="sectionone__text">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje
      al
      hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
    </p>
    <a class="sectionone__button" href="" target="_blank">Comprar</a>
  </section>
  <section class="sectiontwo" id="sectiontwo_anchor">
    <h3 class="sectiontwo__title">Año nuevo, movimientos nuevos</h3>
    <div class="sectiontwo__container">
      <article class="sectiontwo__article">
        <h4 class="sectiontwo__title--report">Entrenamientos</h4>
        <p class="sectiontwo__text">Sesiones de running y entrenamientos.</p>
      </article>
      <article class="sectiontwo__article">
        <h4 class="sectiontwo__title--report">Cualquier nivel</h4>
        <p class="sectiontwo__text">Entrenamientos para cada nivel.</p>
      </article>
      <article class="sectiontwo__article">
        <h4 class="sectiontwo__title--report">Exclusividad</h4>
        <p class="sectiontwo__text">Productos para miembros premium.</p>
      </article>
    </div>
    <a class="sectiontwo__button" href="#" >Empezar ahora</a>
    <div class="sectiontwo__container--knob">
      <a href="#hero_anchor" class="sectiontwo__link">
        <img class="sectiontwo__arrow" src="./assets/images/ico-arrow.svg" alt="Button with upper scroll">
      </a>
    </div>
  </section>
</main>
