// REFERENCIA DE LOS COLORES (color palette) Y LOS ESTILOS (text style catalog) EN STYLEGUIDE DE ZEPLIN:


// -- FONTS --
$roboto_slab_32: 700 32px 'Robo Slab', serif;
$roboto_slab_30: 700 30px 'Robo Slab', serif;
$roboto_slab_28: 700 28px 'Robo Slab', serif;
$roboto_slab_24: 700 24px 'Robo Slab', serif;
$roboto_slab_20: 700 20px 'Robo Slab', serif;
$roboto_slab_18: 700 18px 'Robo Slab', serif;
$roboto_med_20: 500 20px 'Roboto', sans-serif;
$roboto_reg_24: 400 24px 'Roboto', sans-serif;
$roboto_reg_20: 400 20px 'Roboto', sans-serif;
$roboto_reg_18: 400 18px 'Roboto', sans-serif;
$roboto_reg_16: 400 16px 'Roboto', sans-serif;
$roboto_reg_14: 400 14px 'Roboto', sans-serif;



// -- COLORS -- 
$color-grey: #979797;
$color-orange-primary: #f26002;
$color-white-text1: #ffffff;
$color-black-text2: #000000;
$color-breakwhite-bckgr1: #f2f2f2;
$color-darkgrey-bckgr2: #4a4a4a;


// -- DEFAULT SIZE --
$defaultFontSize: 16px;

