.hero {
    background-image: url("../images/cover.jpeg");
    display: flex;
    flex-direction: column;
    background-size: cover; // Para que se comporte como una  portada
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: $color-white-text1;
    background-position: center; // Para que se muestre desde el centro
    width: 100%;
    height: 100vh;
    //height: calc(100vh - 35px); // A la altura, le hemos restado la parte de la barra de navegación (menú) con una altura correspondiente a 35px
    &__box {
        display: flex;
        flex-direction: column; //Para evitar que el resto de componentes se suban y, que no haya nada al lado del hero
        transform: translateX(-5px);
        position: absolute;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 42%;
    }    
    &__title {
        text-transform: uppercase; // Propiedad para poner capital letter desde styles y evitar ponerla a mano en el HTML.
        display: flex;
        color: $color-white-text1;
        line-height: 1.6; // Interlineado (espaciado)
        font: $roboto_slab_30;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        //width: 20ch;
        align-items: center;
    }
    &__text {
        font: $roboto_reg_16;
        color: $color-white-text1;
        line-height: 19px;
        width: 30ch;
        text-align: center;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        width: 38px;
        height: 36px;
        color: $color-orange-primary;
        border-radius: 50%; // Para evitar poner la etiqueta de botón (ya que sino, no podemos enlazar, no disponemos de href), se ha aplicado esta propiedad para conseguir el efecto y así poder enalazar
        margin: auto;
        margin-top: 15px;
        background-color: $color-white-text1;
        padding-top: 3spx; // Para centrar la flecha
    }
}

@media all and (min-width: 768px) {
    .hero__box {
        // transform: translateX(-5%);
        // //width: auto;
        // background-size: cover;
        // background-position: center;
    }
    .hero__title {
        font: $roboto_slab_75;
        line-height: 1.1;
        margin-top: -50px;
        padding-left: 65px;
        align-items: center;
    }
    .hero__text {
        font: $roboto_reg_24;
        line-height: 28px;
        padding-left: 65px;
        align-items: center;
    }
    .hero__button {
        width: 43px;
        height: 45px;
        //margin-left: 430px;
        align-items: center;
    }
}

@media all and (min-width: 1024px) {
    .hero__box {
        //transform: translateX(50px);
    }
    .hero__title {
        font: $roboto_slab_100;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        line-height: 1.1;
        margin-top: -80px;
        padding-left: 35px;
    }
    .hero__text {
        width: auto;
    }
    .hero__button {
        width: 46px;
        height: 46px;
        //margin-left: 550px;
        align-items: center;
    }
}
