.hero {
    background-image: url("../images/cover.jpeg");
    display: flex;
    flex-direction: column;
    background-size: cover; // Para que se comporte como una portada
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-position: center; // Para que se muestre desde el centro
    width: 100%;
    //height: 100vh;
    height: calc(100vh - 35px); // A la altura, le hemos restado la parte de la barra de navegación (menú) con una altura correspondiente a 35px
    //transition: all .2 ease-in-out;  // Al realizar cambios en todas las propiedades, tarde 2 milésimas de segundos y la curva para verla es ease-in-out


    // &__image {
    //     width: 100%;
    //     object-fit: cover;
    //     height: 100vh;
    // }

    // &__container {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     transform: translateY();
    // }

    &__box {
        display: flex;
        flex-direction: column; //Para evitar que el resto de componentes se suban y, que no haya nada al lado del hero
        //width: 100%;
        transform: translateX(-20px);
        position: absolute;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 42%;
    }    
  

    &__title {
        text-transform: uppercase; // Propiedad para poner capital letter desde styles y evitar ponerla a mano en el HTML.
        display: flex;
        // z-index: 1;
        color: #ffffff;
        line-height: 1.6; // Interlineado (espaciado)
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        // margin: 280.1px 0 34px 5px;
        //transform: rotate(-0.23deg);
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        width: 20ch;
    }

    &__text {
        color: #ffffff;
        line-height: 19px;
        width: 30ch;
        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        width: 38px;
        height: 36px;
        color: #f26002;
        border-radius: 50%; // Para evitar poner la etiqueta de botón (ya que sino, no podemos enlazar, no disponemos de href), se ha aplicado esta propiedad para conseguir el efecto y así poder enalazar
        margin: auto;
        margin-top: 15px;
        background-color: #ffffff;
        padding-top: 3px; // Para centrar la flecha
    }
}

