.sectiontwo {
    background-color: $color-breakwhite-bckgr1;
    text-align: center;
    padding: 25px 0 5px;

 

    &__title {
        font: $roboto_slab_20;
        width: 18ch;
        line-height: 30px;
        margin: 0 auto;
        margin-bottom: 30px;
    

  

        &--report {
            font: $roboto_slab_18;
            line-height: 30px;
        }  
    }       

    


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    

        &--knob {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;
            width: 45px;
            height: 45px;
            top: 25px;
            background-color: $color-white-text1;
            border-radius: 50%;
        }
    }

    

    &__article {
        padding: 20px 70px 5px 67px;
        flex-direction: initial;
    }

      

    &__title2 {
        // poner fuente
        font-weight: bold;
        line-height: 30px;
        margin-top: -15px;
    }

    &__text {
        font: $roboto_reg_18;
        width: 18ch;
        padding-bottom: 30px;
        line-height: 25px;
    }

    

    &__button {
        //cursor: crosshair;
        background-color: $color-orange-primary;
        font: $roboto_med_20;
        border: none;
        border-radius: 25px;
        margin-top: 30px;
        text-decoration: none;
        line-height: 5;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        color: $color-white-text1;
    } 

    

    // &__container2 {
    //     display: flex;
    //     justify-content: center;
    //     //align-content: center;
    //     position: relative;
    //     width: 45px;
    //     height: 45px;
    //     top: 25px;
    //     background-color: #ffffff;
    //     border-radius: 50%;
    //     margin: auto;
    //     //border: 5px solid cyan;
    // } 

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 38px;
        color: #f26002;
        border-radius: 50%; // Para evitar poner la etiqueta de botón (ya que sino, no podemos enlazar, no disponemos de href), se ha aplicado esta propiedad para conseguir el efecto y así poder enalazar
        margin: auto; // Para que quede centrada
        //top: 20px;
        //bottom: 20px;
        background-color: #ffffff;
        //padding-bottom: -15px;
        padding-top: 10px; // Para centrar la flecha
        //margin-bottom: 35px;
        //vertical-align: middle;
        padding-left: 1px;
    }
}


@media all and (min-width: 768px) {
    .sectiontwo {
        padding: 45px 0 11px;
    }

    .sectiontwo__title {
        line-height: 45px;
        font: $roboto_slab_28;
        width: auto; // De esta manera, evitamos que esté el título en dos líneas, ya que en la versión móvil, tiene 18ch.
    }

    .sectiontwo__title--report {
        line-height: 30px;
        font: $roboto_slab_24;
    }
    
    .sectiontwo__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        padding:0 29px 0 47px;
    }

    .sectiontwo__container--knob {
         top: 32px;
    }

    .sectiontwo__article {
        padding: 38px 0 0 0;
    }

    .sectiontwo__text{
        font: $roboto_reg_20;
        padding-top: 18px;
        line-height: 25px;
    }

    .sectiontwo__button {
        margin-top: 38px;
    }   
}

@media all and (min-width: 1200px) {
    .sectiontwo {
        padding-bottom: 21px;
    }

    .sectiontwo__title {
        width: auto;
        line-height: 45px;
        font: $roboto_slab_32;
    }

    .sectiontwo__container {
        padding: 0 60px 0 50px;
    }

    .sectiontwo__container--knob {
        top: 45px;
    }

    .sectiontwo__article {
        padding: 52px 0 0 0;
    }

    .sectiontwo__text{
        font: $roboto_reg_20;
        padding-top: 16px;
        line-height: 30px;
        width: auto;
    }

    .sectiontwo__button{
        margin-top: 48px;
    }
}