.sectiontwo {
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0px 5px;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__article {
        padding: 20px 70px 5px 67px;
        flex-direction: initial;
    }

    &__title {
        //poner fuente
        width: 18ch;
        line-height: 30px;
        margin: 0 auto;
        margin-bottom: 30px
    }

    &__title2 {
        // poner fuente
        font-weight: bold;
        line-height: 30px;
        margin-top: -15px;
    }

    &__text {
        // poner fuente
        width: 18ch;
        padding-bottom: 30px;
        line-height: 25px;
    }

    &__button {
        //cursor: crosshair;
        background-color: #f26002;
        //poner fuente robotomedium 20px
        border: none;
        border-radius: 25px;
        margin-top: 30px;
        text-decoration: none;
        line-height: 5;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        color: #f2f2f2;
    } 

    &__container2 {
        display: flex;
        justify-content: center;
        //align-content: center;
        position: relative;
        width: 45px;
        height: 45px;
        top: 25px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: auto;
        //border: 5px solid cyan;
    } 

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 38px;
        color: #f26002;
        border-radius: 50%; // Para evitar poner la etiqueta de botón (ya que sino, no podemos enlazar, no disponemos de href), se ha aplicado esta propiedad para conseguir el efecto y así poder enalazar
        margin: auto; // Para que quede centrada
        //top: 20px;
        //bottom: 20px;
        background-color: #ffffff;
        //padding-bottom: -15px;
        padding-top: 10px; // Para centrar la flecha
        //margin-bottom: 35px;
        //vertical-align: middle;
        padding-left: 1px;
    }
}









