// @import 'components/code';
// @import 'components/links';
// @import 'pages/index';
@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/sectionone';
@import 'layout/sectiontwo';
@import 'layout/footer';


// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// :root {
//     font-family: "Roboto";
// }




